{%extends './layout.html'%}
{%block title%}{{data.titulo}}{%endblock %}

{%block body%}
<h1>My Publicación</h1>
<h2>Autor:{{data.name}}</h2>
<form action='' method = "POST">
    <p>Contenido: <input type = "text" name = "contenido" /></p>
    <input type = "submit" value = "Cancelar" formmethod="LINK"formaction="http://127.0.0.1:5000/" />
    <input type = "hidden" name="csrf_token" value = "{{csrf_token()}}"/>
    <p><input type = "submit" value = "Publicar" /></p>
</form>
{%endblock %}